.current-char {
  background: gray;
}

.game-expected-output {
  min-height: 10vh;
  border: 1px dashed rgba(13, 110, 253, 0.5);
  padding: 10px;
}

.timer-border-divider {
  border-top: 1px solid black;
}