@import 'variables.scss';

.current-char {
  background: gray;
}

.game-expected-output {
  min-height: 10vh;
  border: 1px dashed $expected-output-border-color;
  padding: 10px;
}

.timer-border-divider {
  border-top: 1px solid black;
}