.modal {
  display: flow;
  background: rgba(13, 110, 253, 0.12);
}

html, body {
  min-height: 100vh;
}

.disabled {
  user-select: none !important;
  cursor: not-allowed;
  pointer-events: none;
}

.place-content-center {
  place-content: center;
}

.font-weight-bold {
  font-weight: bold;
}

.mr-10px {
  margin-right: 10px;
}

.min-vh-90 {
  min-height: 90vh;
}

.navbar {
  .nav-link {
    color: #fff;
  }

  .languages-dropdown {
    min-width: 60px;
    width: 60px;

    .dropdown-menu,
    .dropdown-toggle {
      min-width: 60px;
      width: 60px;
    }
  }

  .navbar-container {
    flex-wrap: inherit;
    flex: 1;
    max-width: 50vw;
  }
}

.pointer-events-none {
  pointer-events: none !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.table {
  &.table-bordered {
    thead th {
      font-size: 20px;
    }

    tbody td {
      font-size: 14px;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.loader {
  max-width: 80vw;
  max-height: 80vh;

  &.full-size {
    width: 200px;
    height: 200px;
  }

  &.lg {
    width: 3rem;
    height: 3rem;
  }
}