.homepage {
  .homepage-special-fade-out-enter-active,
  .homepage-special-fade-out-leave-active {
    transition: opacity 3s;
  }

  .homepage-special-fade-out-leave-active {
    color: #199854dd;
  }

  .homepage-special-fade-out-enter,
  .homepage-special-fade-out-leave-to {
    opacity: 0;
  }

  .bounce-enter-active {
    animation: bounce-in .4s;
  }

  .bounce-leave-active {
    animation: bounce-in .25s reverse;
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0)
  }

  50% {
    transform: scale(1.25)
  }

  100% {
    transform: scale(1)
  }
}