@import 'variables.scss';

.homepage {
  .homepage-special-fade-out-enter-active,
  .homepage-special-fade-out-leave-active {
    transition: opacity 3s;
  }

  .homepage-special-fade-out-leave-active {
    color: $homepage-primary-light;
  }

  .homepage-special-fade-out-enter,
  .homepage-special-fade-out-leave-to {
    opacity: 0;
  }

  .homepage-special-slide-enter-active {
    animation: homepage-special-slide-animation .4s;

    @media (max-width: $max-mobile-width) {
      animation: homepage-special-slide-animation .2s;
    }
  }

  .homepage-special-slide-reverse-enter-active {
    animation: homepage-special-slide-reverse-animation .4s;

    @media (max-width: $max-mobile-width) {
      animation: homepage-special-slide-reverse-animation .2s;
    }
  }

  @keyframes homepage-special-slide-animation {
    0% {
      opacity: 0;
      transform: translateY(-50%);

      @media (max-width: $max-mobile-width) {
        opacity: 0.5;
        transform: translateY(-20%);
      }
    }

    100% {
      opacity: 1;
      transform: translateY(0)
    }
  }

  @keyframes homepage-special-slide-reverse-animation {
    0% {
      opacity: 0;
      transform: translateY(50%)
    }

    100% {
      opacity: 1;
      transform: translateY(0)
    }
  }

  .homepage-cards {
    .card-footer {
      .btn,
      .link-primary {
        font-size: 16px;
        font-weight: bold;
        color: white !important;

        &:hover, &.show {
          color: $footer-link-hover-color !important;
        }
      }

      .btn {
        padding: 0;
        border: 0;
      }
    }
  }
}

.navbar {
  @keyframes link-appear-animation {
    0% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }

  .link-appear {
    background: linear-gradient(
                    to left,
                    #fff 0%,
                    #fff 50%,
                    $homepage-primary-light 50%,
                    $homepage-primary-light 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
    animation: link-appear-animation .6s ease-out alternate;
  }
}

.footer {
  @keyframes link-appear-animation-vertical {
    0% {
      background-position: 0 100%;
    }

    100% {
      background-position: 0 0;
    }
  }

  &.footer-animation {
    background-color: $dark;
    color: transparent;

    .footer-start,
    .footer-middle,
    .footer-end {
      background: linear-gradient(
                      to top,
                      $homepage-primary-light 0,
                      $homepage-primary-light 50%,
                      white 50%,
                      white 100%,
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: link-appear-animation-vertical 4s ease-out alternate;
      background-size: 100% 300%;
      animation-fill-mode: forwards;
    }
  }
}