@import 'homepage.scss';
@import 'game.scss';

.disabled {
  user-select: none !important;
  cursor: not-allowed;
  pointer-events: none;
}

.mr-10px {
  margin-right: 10px;
}

.navbar {
  .nav-link {
    color: #fff;
  }
}

